{% extends 'layouts/base.html' %}

{% block custom_css %}
<link href="{{ url_for('static', filename='vendors/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css') }} " rel="stylesheet" />
<link href="{{ url_for('static', filename='vendors/sweetalert/sweetalert.css') }} " rel="stylesheet" />

{% endblock %}

{% block content %}


<section class="content">
    <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, content in messages %}
                    {% if category == "message" %}
                    <div class="alert alert-warning">
                    {% else %}
                    <div class="alert {{ category }}">
                    {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {% set info, msg = content %}
                    <strong>{{ info }}</strong> {{ msg }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>DEPLOY KEY USAGE</h2>
                    </div>

                    <div class="body">
                        <b><h4>Deployment Instruction</h4></b>
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <p align="center">
                                    Click <label class="label bg-teal"><i class="material-icons small">file_copy</i> COPY</label> button on one of the deploy key list to get the command and execute on your Linux machine.
                                    <br>Always remember to have access on 
                                    <label class="label label-warning">PUBLIC NETWORK</label> , unless your installation will be 
                                    <label class="label label-danger">FAILED</label>.
                                </p>            
                            </div>           
                        </div>

                        <b><h4>Format Command</h4></b>
                        <div class="well">
                            <p align="center"><big>
                                    <code><i> wget &ltscript_url&gt -O deploy.sh && sudo bash deploy.sh &ltserver_url&gt &ltapi_key&gt &ltdeploy_key&gt ;sudo rm -rf deploy.sh</i></code>
                            </big></p>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>DEPLOY KEY LIST</h2>
                    </div>

                    <div class="body">
                        
                        <button type="button" class="btn btn-success waves-effect" data-toggle="modal" data-target="#addKey">
                            <i class="material-icons">add</i>
                            <span>ADD DEPLOY KEY</span>
                        </button>
                        
                        <br>
                        <br>

                        {% if deploy_key_lists %}
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Key</th>
                                        <th>Status</th>
                                        <th>Created At</th>
                                        <th>Expired At</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for deploy_key in deploy_key_lists %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ deploy_key.name }}</td>
                                        <td>{{ deploy_key.deploy_key }}</td>
                                        <td>
                                            {% if deploy_key.status == 0 %}
                                            <span class="label label-danger">Expired</span>
                                            {% elif deploy_key.status == 1 %}
                                            <span class="label label-primary">Active</span>
                                            {% else %}
                                            <span class="label label-default">Used</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ deploy_key.show_date(deploy_key.created_at) }}</td>
                                        <td>{{ deploy_key.show_date(deploy_key.expired_at) }}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary waves-effect" data-toggle="modal" data-target="#{{ deploy_key.deploy_key }}" {% if deploy_key.status !=1 %}disabled{% endif %}>
                                                <i class="material-icons">create</i>
                                                EDIT
                                            </button>
                                            <button type="button" class="btn bg-teal waves-effect" onclick="copyToClipboard('{{ deploy_key.deploy_key }}')" {% if deploy_key.status !=1 %}disabled{% endif %}>
                                                <input type="text" id="{{ deploy_key.deploy_key }}-script" class="hidden" value="{{ deploy_key.generate_script(host_url,api_key) }}">
                                                <i class="material-icons">file_copy</i>
                                                COPY
                                            </button>
                                            <button type="button" class="btn btn-danger waves-effect delete-key" data-key="{{ deploy_key.deploy_key }}" data-name="{{ deploy_key.name }}">
                                                <i class="material-icons">delete</i>
                                                DELETE
                                            </button>
                                            <form id="form-delete-{{ deploy_key.deploy_key }}", method="POST">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="id" value="{{ deploy_key.id }}">
                                                {{ form.hidden_tag() }}
                                            </form>
                                        </td>

                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="well">
                            <p align="center">
                                    <big>There is no deploy key available. Try to create one!</big>                                        
                            </p>
                            <p align="center">
                                <button align="center" type="button" class="btn btn-sm btn-success waves-effect" data-toggle="modal" data-target="#addKey">
                                    <i class="material-icons">add</i>
                                    <span>ADD DEPLOY KEY</span>
                                </button>
        
                            </p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Add Deploy Key Modal -->
    <div class="modal fade" id="addKey" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="add-deploy-key" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="addKeyLabel">Add Deploy Key</h4>
                </div>
                <div class="modal-body">
                    
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <b>Name</b>
                            <div class="input-group">
                                <div class="form-line">
                                    {{ form.name(class="form-control", placeholder="Ex: Sensor #1", required="") }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <b>Expired Date (optional)</b>
                            <div class="input-group">
                                <div class="form-line">
                                    {{ form.expired_date(class="hidden") }}
                                    <input id="datepicker-expired-date" type="text" class="form-control" placeholder="Ex: 01/01/2018">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    {{ form.submit_add_key(class="btn btn-link waves-effect create-key-btn", data_dismiss="modal") }}

                    <button type="button" class="btn btn-link waves-effect"  data-dismiss="modal">CANCEL</button>
                </div>
                {{ form.hidden_tag() }}
            </form>
            </div>
        </div>
    </div>

    <!-- Deploy Key Item Modal -->
    {% if deploy_key_lists %}
    {% for deploy_key in deploy_key_lists %}
    <div class="modal fade" id="{{ deploy_key.deploy_key }}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="{{ deploy_key.deploy_key }}-label">Edit Deploy Key</h4>
                </div>
                <form id="form-edit-{{ deploy_key.deploy_key }}" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" name="id" value="{{ deploy_key.id }}">
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <b>Name</b>
                            <div class="input-group">
                                <div class="form-line">
                                    <input type="text" name="name" class="form-control" value="{{ deploy_key.name }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <b>Deploy Key</b>
                            <div class="input-group">
                                <div class="form-line disabled">
                                    <input type="text" name="deploy_key" class="form-control" value="{{ deploy_key.deploy_key }}" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <b>Status</b>
                            <div class="input-group">
                                <div class="form-line disabled">
                                    <input type="hidden" name="status" value="{{ deploy_key.status }}">
                                    <input type="text"  class="form-control"  value="{{ deploy_key.to_dict().msg }}" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <b>Expired Date</b>
                            <div class="input-group">
                                <div class="form-line">
                                    <input id="datepicker-item-{{ deploy_key.deploy_key }}" name="expired_date" type="hidden" value="{{ deploy_key.to_iso_date(deploy_key.expired_at) }}">
                                    <input id="datepicker-item-selector-{{ deploy_key.deploy_key }}" type="text" class="form-control" value="{{ deploy_key.show_date(deploy_key.expired_at) }}")>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-link waves-effect edit-key-btn" data-dismiss="modal" data-key="{{ deploy_key.deploy_key }}">EDIT</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCEL</button>
                </div>
                {{ form.hidden_tag() }}
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <input type="text" value="" id="just-for-copy" style="position:absolute;left:-9999px">
</section>

{% endblock %}

{% block custom_btmscripts %}
<script src="{{ url_for('static', filename='vendors/momentjs/moment.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/autosize/autosize.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap-notify/bootstrap-notify.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/sweetalert/sweetalert.min.js') }}"></script>

<script>

    $(function() {
        autosize($('textarea.auto-growth'));

        var aWeek = moment().add(7,'days');
        document.getElementById('expired_date').value = aWeek.toISOString();   
        document.getElementById('datepicker-expired-date').value = aWeek.format('DD/MM/YYYY');   

        $('#datepicker-expired-date').bootstrapMaterialDatePicker({
            format: 'DD/MM/YYYY',
            clearButton: true,
            weekStart: 1,
            time: false,
            minDate : moment()
        }).on('change', function(e,date){
            document.getElementById('expired_date').value = date.toISOString(); 
        });

        
        {% for deploy_key in deploy_key_lists %}
        document.getElementById('datepicker-item-{{ deploy_key.deploy_key }}').value = moment('{{ deploy_key.to_iso_date(deploy_key.expired_at) }}').toISOString();
        document.getElementById('datepicker-item-selector-{{ deploy_key.deploy_key }}').value = moment("{{ deploy_key.expired_at }}").format('DD/MM/YYYY');
        $('#datepicker-item-selector-{{ deploy_key.deploy_key }}').bootstrapMaterialDatePicker({
            format: 'DD/MM/YYYY',
            weekStart: 1,
            time: false,
            minDate : moment("{{ deploy_key.expired_at }}")
        }).on('change', function(e,date){
            document.getElementById('datepicker-item-{{ deploy_key.deploy_key }}').value = date.toISOString(); 
        });

        {% endfor %}

    })

    $('.delete-key').on('click', function() {
        var name = $(this).data('name');
        var key = $(this).data('key');

        showConfirmMessage(name,key);
    });

    $('.create-key-btn').on('click', function() {
        swal("Success!", "Deploy Key Sucessfully Added!", "success");
        document.getElementById('add-deploy-key').submit();
    })

    $('.edit-key-btn').on('click', function() {
        var key = $(this).data('key');
        swal("Success!", "Deploy Key Information Successfully Edited!", "success");
        document.getElementById('form-edit-'+key).submit();
    })


    function showDate(date){
        return moment().format('DD/MM/YYYY');
    }

    function showConfirmMessage(name,key) {
        swal({
            title: "Are you sure?",
            text: "You will delete "+ name +" ("+ key +") key information\nPlease make sure the key already expired or not used!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        }, function () {
            swal("Deleted!", name + " ("+ key +") key has been deleted!", "success");
            document.getElementById("form-delete-"+key).submit();
            
        });
    }

    function showNotification(colorName, text, placementFrom, placementAlign, animateEnter, animateExit){
        var allowDismiss = true;    
        $.notify({
                message: text
        }, {
            type: colorName,
            allow_dismiss: allowDismiss,
            newest_on_top: true,
            timer: 1000,
            placement: {
                from: placementFrom,
                align: placementAlign
            },
            animate: {
                enter: animateEnter,
                exit: animateExit
            },
            template: '<div data-notify="container" class="bootstrap-notify-container alert alert-dismissible {0} ' + (allowDismiss ? "p-r-35" : "") + '" role="alert">' +
            '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
            '<span data-notify="icon"></span> ' +
            '<span data-notify="title">{1}</span> ' +
            '<span data-notify="message">{2}</span>' +
            '<div class="progress" data-notify="progressbar">' +
            '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
            '</div>' +
            '<a href="{3}" target="{4}" data-notify="url"></a>' +
            '</div>'
        });
    }


    function copyToClipboard(key){
        var script = document.getElementById(key + "-script");
        var justForCopy = document.getElementById('just-for-copy');

        justForCopy.value = script.value;
        justForCopy.select();
        document.execCommand("copy");

        // Send notification

        var text = "(Key: "+ key + ") Command Copied"
        var placementFrom = "top";
        var placementAlign = "center";
        var animateEnter = "animated fadeInDown";
        var animateExit = "animated fadeOutUp";
        var colorName = "bg-teal";

        showNotification(colorName, text, placementFrom, placementAlign, animateEnter, animateExit, colorName);

    }
</script>
{% endblock %}