<html>
<head>
    {% include 'partials/_head.html' %}
</head>
<body class="four-zero-four">
    <div class="four-zero-four-container">
        <div class="error-code">404</div>
        <div class="error-message">This page doesn't exist</div>
        <div class="button-place">
            <a href="{{ url_for('main.index') }}" class="btn btn-default btn-lg waves-effect">GO TO HOMEPAGE</a>
        </div>
    </div>

     <script src="{{ url_for('static', filename='vendors/jquery/jquery.min.js') }}"></script>
     <script src="{{ url_for('static', filename='vendors/bootstrap/js/bootstrap.js') }}"></script>  
     <script src="{{ url_for('static', filename='vendors/node-waves/waves.js') }}"></script>  
</body>
</html>