{% extends 'layouts/base.html' %}

{% block custom_css %}
<link href="{{ url_for('static',filename='vendors/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css') }}" rel="stylesheet">

{% endblock %}

{% block custom_topscripts %}
    
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            COWRIE LOGS
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table id="table-log" class="table table-bordered table-striped table-hover dataTable js-exportable" style="white-space:nowrap; display:table; width:100%;">
                                <thead>
                                    <tr>
                                        <th>Event ID</th>
                                        <th>Source IP</th>
                                        <th>Destination IP</th>
                                        <th>Destination Port</th>
                                        <th>Session</th>
                                        <th>Message</th>
                                        <th>Location</th>
                                        <th>Country</th>
                                        <th>Country Code</th>
                                        <th>State</th>
                                        <th>City</th>
                                        <th>Postal Code</th>                                                                                                   
                                        <th>ASN</th>
                                        <th>AS Organization</th>
                                        <th>Timestamp</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Event ID</th>
                                        <th>Source IP</th>
                                        <th>Destination IP</th>
                                        <th>Destination Port</th>
                                        <th>Session</th>
                                        <th>Message</th>
                                        <th>Location</th>
                                        <th>Country</th>
                                        <th>Country Code</th>
                                        <th>State</th>
                                        <th>City</th>
                                        <th>Postal Code</th>                                                                                                   
                                        <th>ASN</th>
                                        <th>AS Organization</th>
                                        <th>Timestamp</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block custom_btmscripts %}
<script src="{{ url_for('static', filename='vendors/jquery-countto/jquery.countTo.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>

<!-- <input type="hidden" value="{{ data }}" id="data-source"> -->
<script>
    // var dataSource = document.getElementById("data-source").value;

    $(function () {
        $('.js-exportable').DataTable({
            dom: 'Bfrtip',
            responsive: true,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            ajax: {
                url: "data-source/",
                dataSrc: 'data'
            },
            columnDefs:[

            ],
            columns: [
                {'data': 'eventid'},
                {'data': 'src_ip'},
                {
                    'data': 'dst_ip',
                    'defaultContent': 'N/A'
                },
                {
                    'data': 'dst_port',
                    'defaultContent': "N/A"
                },
                {
                    'data': 'session',
                    'render': function(data, type, full, meta){
                        return '<a href="/logs/cowrie/'+ data + '">'+ data +'</a>'
                    }    
                },
                {
                    'data': 'message',
                    'width': '20%'
                },
                {
                    'data': 'geoip.location',
                    'defaultContent': "N/A",
                    'render': function(data, type, full, meta){
                        if (data != undefined){
                            return "("+data.latitude+", " + data.longitude +")"
                        }
                        return "N/A"
                    }

                },
                {
                    'data': 'geoip.country',
                    'defaultContent': "N/A"
                },
                {
                    'data': 'geoip.country_code',
                    'defaultContent': "N/A"
                },
                {
                    'data': 'geoip.state',
                    'defaultContent': "N/A"
                },
                {
                    'data': 'geoip.city',
                    'defaultContent': "N/A"
                },
                {
                    'data': 'geoip.postal_code',
                    'defaultContent': "N/A"
                },
                {
                    'data': 'geoip.autonomous_system_number',
                    'defaultContent': "N/A"
                },
                {
                    'data': 'geoip.autonomous_system_organization',
                    'defaultContent': "N/A"
                },
                {'data': 'timestamp'}
            ],
            order: [[14,'desc']]
        });
    });
</script>
{% endblock %}

{% macro coba(session) %}
    
{% endmacro %}