<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>{{ title }} - {{ config.APP_NAME }}</title>
<!-- Favicon-->
<!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

<!-- Semantic UI for Country Flag -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/flag.min.css" rel="stylesheet" type="text/css">


<!-- Vendors Css -->
<link href="{{ url_for('static', filename='vendors/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/node-waves/waves.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/animate-css/animate.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/morrisjs/morris.css') }}" rel="stylesheet">

<!-- Templates Css -->
<link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='styles/themes/all-themes.css') }}" rel="stylesheet">
