{% extends 'layouts/base.html' %}

{% block custom_css %}
<link href="{{ url_for('static', filename='vendors/sweetalert/sweetalert.css') }} " rel="stylesheet" />
{% endblock %}


{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>AGENTS LIST</h2>
                    </div>

                    <div class="body">
                        {% if agents %}
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>IP Addr</th>
                                        <th>Uptime</th>
                                        <th>Sensor</th>
                                        <th>Status</th>
                                        <th>Attack Count</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for agent in agents %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ agent.name }}</td>
                                        <td>{{ agent.ipaddr }}</td>
                                        <td>
                                            {{ agent.display_uptime() }}
                                        </td>
                                        <td>
                                            {{ agent.sensor.count() }}
                                        </td>
                                        <td>

                                            {% if agent.condition_id == 4 %}
                                            <span class="label label-primary">
                                            {% else %}
                                            <span class="label label-danger">
                                            {% endif %}
                                            {{ agent.status.capitalize() or "exited" }}</span>
                                        </td>
                                        <td>
                                            {{ agent.attack_count or 0 }}
                                        </td>
                                        <td>
                                            <a href="{{ url_for('agents.details',agent_id=1) }}">
                                                <button type="button" class="btn btn-info waves-effect">DETAILS</button>
                                            </a>
                                            <button type="button" class="btn btn-danger waves-effect destroy-agent" data-agent-id="{{ agent.id }}" data-agent-name="{{ agent.name }}" >DESTROY</button>
                                            <form id="form-delete-{{ agent.id }}" method="POST">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="id" value="{{ agent.id }}">
                                                {% if csrf_token()|safe %}<input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">{% endif %}
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}                                  
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="well">
                            <p align="center">
                                    <big>There is no agent available. Go to Deploy Key Page to create Deploy Key and Add Agents!</big>                                        
                            </p>
                            <p align="center">
                                <a href= "{{ url_for('deploy.index') }}"
                                <button align="center" type="button" class="btn btn-sm btn-primary waves-effect">
                                    <i class="material-icons">settings_input_composite</i>
                                    <span>GO TO DEPLOY KEY PAGE </span>
                                </button>
                                </a>
        
                            </p>
                        </div>  
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block custom_btmscripts %}
<script src="{{ url_for('static', filename='vendors/sweetalert/sweetalert.min.js') }}"></script>

<script>
    $('.destroy-agent').on('click', function() {
        var agent_id = $(this).data('agent-id');
        var agent_name = $(this).data('agent-name');
        showConfirmMessage(agent_id, agent_name);
    });

    function showConfirmMessage(id, name) {
        swal({
            title: "Are you sure?",
            text: "You will destroy Agent "+ name +"\nAll sensor related to the agent will be stopped and destroyed!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, destroy it!",
            closeOnConfirm: false
        }, function () {
            swal("Destroyed!", "Agent " + name + " has been destroyed!", "success");
            document.getElementById("form-delete-"+ id).submit();
        });
    }
</script>
{% endblock %}