{% extends 'layouts/base.html' %}

{% block custom_css %}
<link href="{{ url_for('static', filename='vendors/sweetalert/sweetalert.css') }} " rel="stylesheet" />
{% endblock %}


{% block content %}
<section class="content">
    <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, content in messages %}
                    {% if category == "message" %}
                    <div class="alert alert-warning">
                    {% else %}
                    <div class="alert {{ category }}">
                    {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {% set info, msg = content %}
                    <strong>{{ info }}</strong> {{ msg }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>AGENTS LIST</h2>
                    </div>

                    <div class="body">
                        {% if agents %}
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>IP Addr</th>
                                        <th>Uptime</th>
                                        <th>Sensor</th>
                                        <th>Status</th>
                                        <th>Attack Count</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for agent in agents %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>
                                            <a href="{{ url_for('agents.details',agent_id= agent.id) }}">{{ agent.name }}</a>
                                        </td>
                                        <td>{{ agent.ipaddr }}</td>
                                        <td>
                                            {{ agent.display_uptime() }}
                                        </td>
                                        <td>
                                            {{ agent.sensor.count() }}
                                        </td>
                                        <td>

                                            {% if agent.condition_id == 4 %}
                                            <span class="label label-primary">
                                            {% else %}
                                            <span class="label label-danger">
                                            {% endif %}
                                            {{ agent.status.capitalize() or "exited" }}</span>
                                        </td>
                                        <td>
                                            {{ agent.attack_count or 0 }}
                                        </td>
                                        <td>
                                            <form id="{{ agent.id }}-agent-action" method="POST">
                                                <input type="hidden" name="id" value="{{ agent.id }}">
                                                <input type="hidden" name="_operation">
                                                {% if csrf_token()|safe %}<input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">{% endif %}
                                            </form>
                                            {% if agent.condition_id != 1 %}
                                            <button type="button" class="btn btn-primary waves-effect action-btn" data-agent-id="{{ agent.id }}" data-agent-name="{{ agent.name }}" data-operation="RESTART">
                                                <i class="material-icons">autorenew</i>
                                                RESTART
                                            </button>
                                            <button type="button" class="btn btn-danger waves-effect action-btn" data-agent-id="{{ agent.id }}" data-agent-name="{{ agent.name }}" data-operation="DESTROY">
                                                <i class="material-icons">power_off</i>
                                                DESTROY
                                            </button>
                                            {% else %}
                                            <button type="button" class="btn bg-pink waves-effect action-btn" data-agent-id="{{ agent.id }}" data-agent-name="{{ agent.name }}" data-operation="DELETE">
                                                <i class="material-icons">delete</i>
                                                DELETE
                                            </button>
                                            {% endif %}
                                            
                                        </td>
                                    </tr>
                                    {% endfor %}                                  
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="well">
                            <p align="center">
                                    <big>There is no agent available. Go to Deploy Key Page to create Deploy Key and Add Agents!</big>                                        
                            </p>
                            <p align="center">
                                <a href= "{{ url_for('deploy.index') }}"
                                <button align="center" type="button" class="btn btn-sm btn-primary waves-effect">
                                    <i class="material-icons">settings_input_composite</i>
                                    <span>GO TO DEPLOY KEY PAGE </span>
                                </button>
                                </a>
        
                            </p>
                        </div>  
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block custom_btmscripts %}
<script src="{{ url_for('static', filename='vendors/sweetalert/sweetalert.min.js') }}"></script>

<script>
    String.prototype.capitalize = function() {
        return this.charAt(0).toUpperCase() + this.slice(1);
    }

    $('.action-btn').on('click', function() {
        var agent_id = $(this).data('agent-id');
        var agent_name = $(this).data('agent-name');
        var operation = $(this).data('operation');

        showConfirmMessage(agent_id, agent_name, operation);
    });

    function showConfirmMessage(id, name, operation) {
        var text;
        if(operation === 'DELETE'){
            swal({
                title: "Attention!",
                text: "Are you sure to "+ operation + " Sensor " + name +"?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, "+ operation +" it!",
                closeOnConfirm: false
            }, function () {
                swal(operation.capitalize()+" !", "Sensor " + name + " has been "+ operation +" !", "success");
                var form = document.getElementById(id+"-agent-action");
                form._operation.value = operation;
                form.submit();
            }); 
        }
        else{
            text = "You will "+ operation +" Agent "+ name;
            if(operation == 'DESTROY'){
                text = "You will "+ operation +" Agent "+ name +"\nAll sensor related to the agent will be stopped and destroyed!";
            }
            swal({
                title: "Are you sure?",
                text: text,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, "+ operation +" it!",
                closeOnConfirm: false
            }, function () {
                swal(operation+"!", "Agent " + name + " has been "+ operation +"!", "success");
                var form =document.getElementById(id+"-agent-action");
                form._operation.value = operation;
                form.submit();
            });
        }

        
    }
</script>
{% endblock %}