{% extends 'layouts/base.html' %}


{% block custom_css %}
<link href="{{ url_for('static', filename='vendors/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css') }} " rel="stylesheet" />
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            SENSOR EVENT STATISTICS
                        </h2>
                    </div>
                    <div class="body">                       
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <b>Select Date</b>
                                <div class="input-group">
                                    <div class="form-line">
                                        <input type="text" class="datepicker form-control" placeholder="Ex: 01/01/2018">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <!-- Sensor Event Histogram -->
                                <canvas id="sensor_histogram" height="75"></canvas>
                            </div>
                        </div>
           
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            DESTINATION PORTS EVENT STATISTICS
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <b>Select Date</b>
                                <div class="input-group">
                                    <div class="form-line">
                                        <input type="text" class="datepicker form-control" placeholder="Ex: 01/01/2018">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <canvas id="destination_port_statistics" height="75"></canvas>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>
    


        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            COUNTRIES EVENT STATISTICS
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <b>Select Date</b>
                                <div class="input-group">
                                    <div class="form-line">
                                        <input type="text" class="datepicker form-control" placeholder="Ex: 01/01/2018">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <!-- Sensor Event Histogram -->
                                <canvas id="sensor_destination_histogram" height="75"></canvas>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            AGENTS EVENT STATISTICS
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <b>Select Date</b>
                                <div class="input-group">
                                    <div class="form-line">
                                        <input type="text" class="datepicker form-control" placeholder="Ex: 01/01/2018">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <!-- Sensor Event Histogram -->
                                <canvas id="sensor_country_histogram" height="75"></canvas>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>
    


    </div>
</section>
{% endblock %}

{% block custom_btmscripts %}
<script src="{{ url_for('static', filename='vendors/chartjs/Chart.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/momentjs/moment.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') }}"></script>


<script>
    $(function(){
        $('.datepicker').bootstrapMaterialDatePicker({
            format: 'dddd DD MMMM YYYY',
            clearButton: true,
            weekStart: 1,
            time: false,
            currentDate: moment()
        }).on('change',function(e, date){
            console.log(date.toDate());
        });

    });



    new Chart(document.getElementById("sensor_histogram").getContext("2d"),getHistogramChart());
    new Chart(document.getElementById("sensor_country_histogram").getContext("2d"),getHistogramChart());
    new Chart(document.getElementById("sensor_destination_histogram").getContext("2d"),getHistogramChart());
    new Chart(document.getElementById("destination_port_statistics").getContext("2d"),getHistogramChart());

    function getHistogramChart(){
        var config = null;
        config = {
            type: 'line',
            data: {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [{
                    label: "My First dataset",
                    data: [65, 59, 80, 81, 56, 55, 50000],
                    borderColor: 'rgba(0, 188, 212, 0.75)',
                    backgroundColor: 'rgba(0, 188, 212, 0.3)',
                    pointBorderColor: 'rgba(0, 188, 212, 0)',
                    pointBackgroundColor: 'rgba(0, 188, 212, 0.9)',
                    pointBorderWidth: 1
                }, 
                {
                    label: "My Second dataset",
                    data: [28, 48, 40, 19, 86, 27, 90],
                    borderColor: 'rgba(233, 30, 99, 0.75)',
                    backgroundColor: 'rgba(233, 30, 99, 0.3)',
                    pointBorderColor: 'rgba(233, 30, 99, 0)',
                    pointBackgroundColor: 'rgba(233, 30, 99, 0.9)',
                    pointBorderWidth: 1
                }]
            },
            options: {
                responsive: true,
                legend: false
            }
        };

        return config;
    }


</script>
{% endblock %}