{% extends 'layouts/base.html' %}

{% block custom_css %}

{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            EVENT STATISTICS (HISTOGRAM)
                        </h2>
                    </div>
                    <div class="body">
                        <h2 class="card-inside-title">Sensor Event Histogram</h2>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <!-- Sensor Event Histogram -->
                                <canvas id="sensor_histogram"></canvas>
                            </div>
                        </div>

                        <h2 class="card-inside-title">Sensor Event by Country Histogram</h2>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <!-- Sensor Event by Country Histogram -->
                                <canvas id="sensor_country_histogram"></canvas>
                            </div>
                        </div>
    

                        <h2 class="card-inside-title">Sensor Destination Port Histogram</h2>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <!-- Sensor Destination Port Histogram -->
                                <canvas id="sensor_destination_histogram"></canvas>
 
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            EVENT STATISTICS (BAR)
                        </h2>
                    </div>

                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <h2 class="card-inside-title">Sensor Events</h2>
                                <!-- Sensor Destination Port Histogram -->
                                <canvas id="sensor_events_bar" height="120"></canvas>

                            </div>
                            <div class="col-md-6">
                                <h2 class="card-inside-title">Sensor Events by Destination Port</h2>
                                <!-- Sensor Destination Port Histogram -->
                                <canvas id="sensor_ports_events_bar" height="120"></canvas>
                            </div>        
                        </div>

                        <h2 class="card-inside-title">Sensor Event by Country and Port</h2>
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <canvas id="country-ports-1" height="150"></canvas>

                            </div>
                            <div class="col-md-6">
                                <canvas id="country-ports-2" height="150"></canvas>
    
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <canvas id="country-ports-3" height="150"></canvas>
    
                            </div>
                            <div class="col-md-6">
                                <canvas id="country-ports-4" height="150"></canvas>
    
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <canvas id="country-ports-5" height="150"></canvas>    
                            </div>
                            <div class="col-md-6">
                                <canvas id="country-ports-6" height="150"></canvas>

                            </div>            
        
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>
{% endblock %}

{% block custom_btmscripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="{{ url_for('static', filename='vendors/momentjs/moment.js') }}"></script>

<script>
    String.prototype.capitalize = function() {
        return this.charAt(0).toUpperCase() + this.slice(1);
    }

    Array.prototype.last = function() {
        return this[this.length-1];
    }
    
    function jsonUpdate(obj, newObj){
        for (var key in newObj){
            obj[key] = newObj[key];
        }
        return obj
    }

    function datasetTemplate (){
        var template = {
            label: "No data available",
            data: new Array()
        }
        return template
    }

    function rgbMaker(){
        var rgb = [];
        rgb.push(Math.floor(Math.random() * 255));
        rgb.push(Math.floor(Math.random() * 255));
        rgb.push(Math.floor(Math.random() * 255));
        return rgb
    }

    function colorConfig(typeColor){
        var rgb = rgbMaker();
        var colorSet = {};
        if (typeColor == 0){
            colorSet = {
                'backgroundColor': 'rgba('+ rgb.join() +',0.3)',
                'borderColor': 'rgba('+ rgb.join() +',0.75)',
            };
        }
        else if (typeColor == 1){
            colorSet = {
                'backgroundColor': 'rgba('+ rgb.join() +',0.3)',
                'borderColor': 'rgba('+ rgb.join() +',0.75)',
                'pointBackgroundColor': 'rgba('+ rgb.join() +',0.9)',
                'pointBorderColor': 'rgba('+ rgb.join() +',0)',
                'pointBorderWidth': 1
            };
        }
        else if (typeColor == 2){
            colorSet = {
                'backgroundColor': 'rgba('+ rgb.join() +',0.2)',
                'borderColor': 'rgba('+ rgb.join() +',0.8)',
            };
        }
        return colorSet
    }

    function initDatasetHistogram(typeColor=0, typeChart='bar'){

        var obj = datasetTemplate();
        var colorSet = colorConfig(typeColor);
        for (key in colorSet){
            obj[key] = colorSet[key];
        }
        obj['type'] = typeChart;
        obj['pointRadius'] = 1;
        obj['fill'] = 1;
        obj['lineTension'] = 0.3;
        obj['borderWidth'] = 2;


        return obj
    }

    function setDataHistogram(dataSource, typeColorSet=null, typeChartSet='bar'){
        var labels = new Array();
        var datasets = new Array();
        var dateAsLabel;
        // Set global labels
        for (var i=0; i<dataSource.length; i++){
            dateAsLabel = moment(dataSource[i].infos.date.$date).format('DD MM YYYY');
            if (labels.includes(dateAsLabel) == false){
                labels.push(dateAsLabel); //07 Maret
            }
        }

        for (var i=0; i<dataSource.length; i++){
            dateAsLabel = moment(dataSource[i].infos.date.$date).format('DD MM YYYY');
            if (datasets.length == 0){
                datasets.push(initDatasetHistogram(typeColor=typeColorSet));
                var last = datasets.length - 1;
                datasets[0].label = String(dataSource[i].label).capitalize();
                datasets[0].data.push(dataSource[i].infos.count);
                continue;
            }
            for (x in labels){ 
                if (labels[x] == dateAsLabel){
                    var newdata=true;
                    for (ds in datasets){
                        if (datasets[ds].label == String(dataSource[i].label).capitalize()){
                            datasets[ds].data.push(dataSource[i].infos.count);
                            newdata=false;
                        }
                    }
                    if (newdata === true){
                        datasets.push(initDatasetHistogram(typeColor=typeColorSet));
                        var last = datasets.length - 1;
                        datasets[last].label = String(dataSource[i].label).capitalize();
                        for (var z=0; z<x; z++){
                            datasets[last].data.push(0);
                        }
                        datasets[last].data.push(dataSource[i].infos.count);
                    }
                }        
            }
        }

        return [labels, datasets]
        

    }

    function getConfigHistogram(typeChartSet='bar'){
        var config = null;
        config = {
            type: typeChartSet,
            data: {
                labels: [],
                datasets: [],
            },
            options: {
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                legend: {
                    display: true,
                    position: 'top',
                    labels: {
                        usePointStyle: true,
                        fontSize: 14
                    }
                },
                scales: {
                    xAxes: [{
                        stacked:true,
                        scaleLabel: {
                            display:true,
                            labelString: "Timestamp"
                        }
                    }],
                    yAxes: [{
                        stacked:true,
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display:true,
                            labelString: "Events (Count)"
                        }                        
                    }]
                }
            }
        };
        return config
    }

    function customOptions(){
        var options;
        options = {
            responsive: true,
            legend: {
                position: 'right',
                labels: {
                    usePointStyle: true,
                    fontSize: 12
                }
            },
            title: {
                display: true,
                text: 'France'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
        return options
    }

    function setDataDoughnut(dataSource, typeData=0){
        var labels = new Array();
        var datasets = new Array();
        
        // initialize dataset template
        var obj = datasetTemplate();
        obj['backgroundColor'] = new Array();
        datasets.push(obj);

        for (var i=0;i<dataSource.length;i++){
            var label = String(dataSource[i].label).capitalize();
            var counts = dataSource[i].counts;
            var rgb = rgbMaker();
            var rgbSet = 'rgba('+ rgb.join() +',0.8)';
            
            labels.push(label);
            datasets[0].label = label;
            datasets[0].data.push(counts);
            datasets[0].backgroundColor.push(rgbSet);
        }

        return [labels, datasets]
    }

    function customSetDataDoughnut(dataSource){
        var labels = new Array();
        var datasets = new Array();
        var options = customOptions();
        
        var titles = {display:true, text: dataSource.label};
        options['title'] = titles

        // initialize dataset template
        var obj = datasetTemplate();
        obj['backgroundColor'] = new Array();
        datasets.push(obj);

        var subDataSource = dataSource.attacked_port;
        for (var i=0;i<subDataSource.length;i++){
            var label = String(subDataSource[i].dst_port).capitalize();
            var counts = subDataSource[i].count;
            var rgb = rgbMaker();
            var rgbSet = 'rgba('+ rgb.join() +',0.8)';
            
            labels.push(label);
            datasets[0].label = dataSource.label;
            datasets[0].data.push(counts);
            datasets[0].backgroundColor.push(rgbSet);
        }

        return [labels, datasets, options]
    }
    

    // Histogram
    window.sensorEventHist   = new Chart(document.getElementById("sensor_histogram").getContext("2d"),getConfigHistogram());
    window.sensorCountryHist = new Chart(document.getElementById("sensor_country_histogram").getContext("2d"),getConfigHistogram());
    window.sensorDestHist    = new Chart(document.getElementById("sensor_destination_histogram").getContext("2d"),getConfigHistogram());

    var eventHistogram = setDataHistogram({{ sensor_event_histogram | safe }}, typeColorSet=0);
    var countryHistogram = setDataHistogram({{ countries_event_histogram | safe}}, typeColorSet=1, typeChartSet='line');
    var destHistogram = setDataHistogram({{ ports_event_histogram | safe}}, typeColorSet=0);

    window.sensorEventHist.data.labels = eventHistogram[0];
    window.sensorEventHist.data.datasets = eventHistogram[1];

    window.sensorCountryHist.data.labels = countryHistogram[0];
    window.sensorCountryHist.data.datasets = countryHistogram[1];
    
    window.sensorDestHist.data.labels = destHistogram[0];
    window.sensorDestHist.data.datasets = destHistogram[1];
    
    window.sensorEventHist.update();
    window.sensorCountryHist.update();
    window.sensorDestHist.update();
    
    // For Bar Sensor Countries and Events
    window.sensorEventDoughnut = new Chart(document.getElementById("sensor_events_bar").getContext("2d"),getConfigHistogram(typeChartSet='doughnut'));
    window.portsEventDoughnut = new Chart(document.getElementById("sensor_ports_events_bar").getContext("2d"),getConfigHistogram(typeChartSet='doughnut'));


    var sensorDataDoughnut = setDataDoughnut({{ sensor_events | safe}});
    var portsDataDoughnut = setDataDoughnut({{ ports_events | safe}});

    window.sensorEventDoughnut.data.labels = sensorDataDoughnut[0];
    window.sensorEventDoughnut.data.datasets = sensorDataDoughnut[1];
    window.sensorEventDoughnut.options = customOptions();

    window.portsEventDoughnut.data.labels = portsDataDoughnut[0];
    window.portsEventDoughnut.data.datasets = portsDataDoughnut[1];
    window.portsEventDoughnut.options = customOptions();

    window.sensorEventDoughnut.update();
    window.portsEventDoughnut.update();

    // For Bar Country and Port
    window.countriesPorts = [
        new Chart(document.getElementById("country-ports-1").getContext("2d"),getConfigHistogram(typeChartSet='doughnut')),
        new Chart(document.getElementById("country-ports-2").getContext("2d"),getConfigHistogram(typeChartSet='doughnut')),
        new Chart(document.getElementById("country-ports-3").getContext("2d"),getConfigHistogram(typeChartSet='doughnut')),
        new Chart(document.getElementById("country-ports-4").getContext("2d"),getConfigHistogram(typeChartSet='doughnut')),
        new Chart(document.getElementById("country-ports-5").getContext("2d"),getConfigHistogram(typeChartSet='doughnut')),
        new Chart(document.getElementById("country-ports-6").getContext("2d"),getConfigHistogram(typeChartSet='doughnut'))       
    ]

    
    {% for country_port in countries_ports_events %}
        var data = customSetDataDoughnut({{ country_port | safe }});
        window.countriesPorts[{{ loop.index - 1 }}].data.labels = data[0];
        window.countriesPorts[{{ loop.index - 1 }}].data.datasets = data[1];
        window.countriesPorts[{{ loop.index - 1 }}].options = data[2]; 
        window.countriesPorts[{{ loop.index - 1 }}].update();
    {% endfor %}



</script>
{% endblock %}