{% extends 'layouts/base.html' %}


{% block custom_css %}
<link href="{{ url_for('static', filename='vendors/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css') }} " rel="stylesheet" />
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            SENSOR EVENT STATISTICS
                        </h2>
                    </div>
                    <div class="body">                       
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <b>Select Date</b>
                                <input id="datepicker-se" type="text" class="form-control" placeholder="Ex: 01/01/2018">
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <!-- Sensor Event Histogram -->
                                <canvas id="sensor_event_statistics" height="75"></canvas>
                            </div>
                        </div>
           
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            DESTINATION PORT EVENT STATISTICS
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <b>Select Date</b>
                                <input id="datepicker-dpe" type="text" class="form-control" placeholder="Ex: 01/01/2018">
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <canvas id="destination_port_statistics" height="75"></canvas>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>
    


        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            COUNTRIES EVENT STATISTICS
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <b>Select Date</b>
                                <input id="datepicker-ce" type="text" class="form-control" placeholder="Ex: 01/01/2018">
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <!-- Sensor Event Histogram -->
                                <canvas id="countries_event_statistics" height="75"></canvas>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            AGENTS EVENT STATISTICS
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <b>Select Date</b>
                                <input id="datepicker-ae" type="text" class="form-control" placeholder="Ex: 01/01/2018">
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <!-- Sensor Event Histogram -->
                                <canvas id="agent_event_statistics" height="75"></canvas>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>
    


    </div>
</section>
{% endblock %}

{% block custom_btmscripts %}
<script src="{{ url_for('static', filename='vendors/chartjs/Chart.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/momentjs/moment.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') }}"></script>


<script>
    var configDatePicker = {
        format: 'dddd, DD MMMM YYYY',
        clearButton: false,
        weekStart: 1,
        time: false,
        currentDate: moment()
    };

    var config = {
        type: 'line',
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: "Dionaea",
                data: [65, 59, 80, 81, 56, 55, 50000],
                borderColor: 'rgba(0, 188, 212, 0.75)',
                backgroundColor: 'rgba(0, 188, 212, 0.3)',
                pointBorderColor: 'rgba(0, 188, 212, 0)',
                pointBackgroundColor: 'rgba(0, 188, 212, 0.9)',
                pointBorderWidth: 1
            }, 
            {
                label: "Cowrie",
                data: [28, 48, 40, 19, 86, 27, 90],
                borderColor: 'rgba(233, 30, 99, 0.75)',
                backgroundColor: 'rgba(233, 30, 99, 0.3)',
                pointBorderColor: 'rgba(233, 30, 99, 0)',
                pointBackgroundColor: 'rgba(233, 30, 99, 0.9)',
                pointBorderWidth: 1
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top'
            },
            title: {
                display: true,
                text: moment().format('dddd, DD MMMM YYYY')
            }
        }
        };

    window.onload = function(){
        window.sensorEventStat = new Chart(document.getElementById("sensor_event_statistics").getContext("2d"),config);
        window.agentEventStat = new Chart(document.getElementById("agent_event_statistics").getContext("2d"),config);
        window.countriesEventStat = new Chart(document.getElementById("countries_event_statistics").getContext("2d"),config);
        window.destEventStat = new Chart(document.getElementById("destination_port_statistics").getContext("2d"),config);


        $(function(){
            $('#datepicker-se').bootstrapMaterialDatePicker(configDatePicker)
                .on('change',function(e, date){
                    console.log(date.toDate());
                    window.sensorEventStat.options.title.text = date.format('dddd, DD MMMM YYYY');
                    console.log(config);
                    window.sensorEventStat.update();
                }
            );

            $('#datepicker-dpe').bootstrapMaterialDatePicker(configDatePicker)
                .on('change',function(e, date){
                    console.log(date.toDate());
                    window.destEventStat.options.title.text = date.format('dddd, DD MMMM YYYY');
                    window.destEventStat.update();
                }
            );
            $('#datepicker-ce').bootstrapMaterialDatePicker(configDatePicker)
                .on('change',function(e, date){
                    console.log(date.toDate());
                    window.countriesEventStat.options.title.text = date.format('dddd, DD MMMM YYYY');
                    window.countriesEventStat.update();
                }
            );

            $('#datepicker-ae').bootstrapMaterialDatePicker(configDatePicker)
                .on('change',function(e, date){
                    console.log(date.toDate());
                    window.agentEventStat.options.title.text = date.format('dddd, DD MMMM YYYY');
                    window.agentEventStat.update();
                }
            );

        });
    }
</script>
{% endblock %}