{% extends 'layouts/base.html' %}

{% block custom_css %}
<link href="{{ url_for('static', filename='vendors/bootstrap-select/css/bootstrap-select.css') }} " rel="stylesheet" />
<link href="{{ url_for('static', filename='vendors/sweetalert/sweetalert.css') }} " rel="stylesheet" />

{% endblock %}



{% block content %}
<section class="content">
    <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, content in messages %}
                    {% if category == "message" %}
                    <div class="alert alert-warning">
                    {% else %}
                    <div class="alert {{ category }}">
                    {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {% set info, msg = content %}
                    <strong>{{ info }}</strong> {{ msg }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}        
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>SENSOR LIST</h2>
                    </div>
                    <div class="body">
                        {% if agents %}
                        <button type="button" class="btn btn-success waves-effect" data-toggle="modal" data-target="#add-sensor-modal">
                        {% else %}
                        <button type="button" class="btn btn-success waves-effect" data-toggle="modal" data-target="#add-sensor-modal" disabled>
                        {% endif %}
                            <i class="material-icons">add</i>
                            <span>ADD SENSOR</span>
                        </button>

                        <br>
                        <br>

                        {% if sensors %}
                        <div class="table-responsive">
                            <table class="table table-hover dashboard-task-infos">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Agent</th>
                                        <th>Uptime</th>
                                        <th>Status</th>
                                        <th>Attack Count</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sensor in sensors %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>
                                            <a href="{{ url_for('sensor.details', sensor_id= sensor.id) }}">{{ sensor.name }}</a>
                                        </td>
                                        <td>{{ sensor.type }}</td>
                                        <td>{{ sensor.agent.show_info() }}</td>
                                        <td>{{ sensor.display_uptime() }}</td>
                                        <td>
                                            {% if sensor.condition_id == 1 %}
                                            <span class="label label-danger">
                                            {% elif sensor.condition_id == 2 %}
                                            <span class="label label-info">
                                            {% elif sensor.condition_id == 3 %}
                                            <span class="label label-default">
                                            {% elif sensor.condition_id == 4 %}
                                            <span class="label label-primary">
                                            {% else %}
                                            <span class="label label-warning">
                                            {% endif %}
                                            {{ sensor.condition.name }}</span>
                                        </td>
                                        <td>{{ sensor.attack_count or 0 }}</td>
                                        <td>
                                            <form id="{{ sensor.id }}-sensor-action" method="POST">
                                            <input type="hidden" name="id" value="{{ sensor.id }}" >
                                            <input type="hidden" name="_operation">
                                            {{ form.hidden_tag() }}
                                            </form>
                                            {% if sensor.condition_id != 1 %}
                                            <button type="button" class="btn btn-primary waves-effect action-btn" data-sensor-id="{{ sensor.id }}" data-sensor-name="{{ sensor.name }}" data-operation="RESTART">
                                                <i class="material-icons">autorenew</i>
                                                RESTART
                                            </button>
                                            <button type="button" class="btn btn-warning waves-effect action-btn" data-sensor-id="{{ sensor.id }}" data-sensor-name="{{ sensor.name }}" data-operation="STOP">
                                                <i class="material-icons">not_interested</i>
                                                STOP
                                            </button>
                                            <button type="button" class="btn btn-danger waves-effect action-btn" data-sensor-id="{{ sensor.id }}" data-sensor-name="{{ sensor.name }}" data-operation="DESTROY">
                                                <i class="material-icons">power_off</i>
                                                DESTROY
                                            </button>
                                            {% else %}
                                            <button type="button" class="btn bg-pink waves-effect action-btn" data-sensor-id="{{ sensor.id }}" data-sensor-name="{{ sensor.name }}" data-operation="DELETE">
                                                <i class="material-icons">delete</i>
                                                DELETE
                                            </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        {% else %}
                        <div class="well">
                                <p align="center">
                                        <big>There is no sensor available. You need an active Agent before launch Sensor!</big>                                        
                                </p>
                                <p align="center">
                                    <a href= "{{ url_for('agents.index') }}"
                                    <button align="center" type="button" class="btn btn-sm bg-indigo waves-effect">
                                        <i class="material-icons">developer_board</i>
                                        <span>GO TO AGENTS PAGE</span>
                                    </button>
                                    </a>
            
                                </p>
                            </div>  
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="add-sensor-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="add-sensor-form" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title" id="addSensorLabel">Add Sensor</h4>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <b>Name</b>
                            <div class="input-group">
                                <div class="form-line">
                                    <input type="text" name="name" class="form-control" placeholder="Ex: Dionaea #1" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <b>Type</b>
                            <div class="input-group">
                                {{ form.type(class="form-control show-tick") }}
                            </div>
                            
                        </div>

                        <div class="col-sm-12">
                            <b>Agent</b>
                            <div class="input-group">
                                {% set attrib = {
                                    'class': 'form-control show-tick',
                                    'data-live-search': 'true'
                                } %}

                                {{ form.agent(**attrib)}}
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {% set attrib = {
                        'class': 'btn btn-link waves-effect create-sensor-btn',
                        'data-placement-from': 'top',
                        'data-placement-align': 'center',
                        'data-animate-enter': 'animated fadeInDown',
                        'data-animate-exit': 'animated fadeOutUp',
                        'data-color-name': 'bg-black'
                    } %}
                    {{ form.submit(**attrib) }}
                    
                    {% set attrib = {
                        'class': 'btn btn-link waves-effect',
                        'data-dismiss': 'modal'
                    } %}
                    {{ form.cancel(**attrib) }}
                </div>
                {{ form.hidden_tag() }}
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block custom_btmscripts %}
<script src="{{ url_for('static', filename='vendors/bootstrap-notify/bootstrap-notify.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/sweetalert/sweetalert.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/bootstrap-select/js/bootstrap-select.js') }}"></script>


<script>
    String.prototype.capitalize = function() {
        return this.charAt(0).toUpperCase() + this.slice(1);
    }
    $('.create-sensor-btn').on('click', function() {
              
        // swal("Success!", "Sucessfully Added Sensor!", "success");
    })

    $('.action-btn').on('click', function(){
        var id = $(this).data('sensor-id');
        var name = $(this).data('sensor-name');
        var operation = $(this).data('operation');

        showConfirmMessage(id, name, operation);

       
    })

    function showConfirmMessage(id, name, operation) {
        swal({
            title: "Attention!",
            text: "Are you sure to "+ operation + " Sensor " + name +"?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, "+ operation +" it!",
            closeOnConfirm: false
        }, function () {
            swal(operation.capitalize()+" !", "Sensor " + name + " has been "+ operation +" !", "success");
            var form = document.getElementById(id+"-sensor-action");
            form._operation.value = operation;
            form.submit();
        });
    }
</script>
{% endblock %}