<!DOCTYPE html>
<html>
<head>
    {% include 'partials/_head.html' %}
    {% block custom_head_tags %}{% endblock %}

    {% block topscritps %}{% endblock %}
</head> 

<body class="login-page ">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);"><b>FIPRO</b></a>
            <small>Distributed Honeypot Network based on Container</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_in" method="POST">
                    <div class="msg">Login</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                            <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                            <label for="rememberme">Remember Me</label>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-block bg-pink waves-effect" type="submit">LOG IN</button>
                        </div>
                    </div>
                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-6">
                            <a href="#">Register Now!</a>
                        </div>
                        <div class="col-xs-6 align-right">
                            <a href="#">Forgot Password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
    <script src="{{ url_for('static', filename='vendors/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap-select/js/bootstrap-select.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/node-waves/waves.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-countto/jquery.countTo.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/raphael/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/morrisjs/morris.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/chartjs/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/flot-charts/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/flot-charts/jquery.flot.resize.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/flot-charts/jquery.flot.pie.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/flot-charts/jquery.flot.categories.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/flot-charts/jquery.flot.time.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-sparkline/jquery.sparkline.js') }}"></script>

    <script src="{{ url_for('static', filename='scripts/admin.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/demo.js') }}"></script>    
    
    {% block bottomscripts %}{% endblock %}    
</body>

</html>