{% extends 'layouts/base.html' %}


{% block custom_css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/flag.min.css" rel="stylesheet">
<style>
    .hover-expand-effect {
        cursor: pointer;
    }
    .row a {
        text-decoration:none
    }
</style>
{% endblock %}

{% block content %}
{% set data = 
    { 
        "today_attack"      : today_attack,
        "cowrie_events"     : cowrie_events,
        "dionaea_events"    : dionaea_events,
        "glastopf_events"   : glastopf_events,
        "agents"            : agents,
        "sensor"            : sensor
    }
%}

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons col-blue">calendar_today</i>
                    </div>
                    <div class="content">
                        <div class="text"><h5>TODAY</h5></div>
                        <div class="number">{{ date }}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="{{url_for('monitoring.event_hourly_statistics')}}">
                    <div class="info-box-4 hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons col-red">show_chart</i>
                        </div>
                        <div class="content">
                            <div class="text"><h5>TODAY ATTACKS COUNT</h5></div>
                            <div class="number count-to" data-from="0" data-to="{{ data['today_attack'] }}" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="{{url_for('agents.index')}}">
                    <div class="info-box-4 hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons col-green">developer_board</i>
                        </div>
                        <div class="content">
                            <div class="text"><h5>AGENTS</h5></div>
                            <div class="number count-to" data-from="0" data-to="{{ data['agents'] }}" data-speed="1000" data-fresh-interval="20"></div>  
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="{{url_for('sensor.index')}}">
                    <div class="info-box-4 hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons col-brown">router</i>
                        </div>
                        <div class="content">
                            <div class="text"><h5>SENSOR</h5></div>
                            <div class="number count-to" data-from="0" data-to="{{ data['sensor'] }}" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <a href="{{ url_for('logs.dionaea_index') }}">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">equalizer</i>
                        </div>
                        <div class="content">
                            <div class="text"><h5>DIONAEA EVENTS</h5></div>
                            <div class="number count-to" data-from="0" data-to="{{ data['dionaea_events'] }}" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </a>
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <a href="{{ url_for('logs.cowrie_index') }}">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">insert_chart_outlined</i>
                        </div>
                        <div class="content">
                            <div class="text"><h5>COWRIE EVENTS</h5></div>
                            <div class="number count-to" data-from="0" data-to="{{ data['cowrie_events'] }}" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <a href="{{ url_for('logs.glastopf_index') }}">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">insert_chart</i>
                        </div>
                        <div class="content">
                            <div class="text"><h5>GLASTOPF EVENTS</h5></div>
                            <div class="number count-to" data-from="0" data-to="{{ data['glastopf_events'] }}" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="font-bold">ATTACK DAILY STATS</div>
                        <br>
                        {% if attack_daily_stats %}
                        <canvas id="line_chart" height="150"></canvas>

                        {% else %}
                        <div class="row clearfix dashboard-stat-list">
                            <div class="col-md-12">
                                <br>
                                <div class="align-center">
                                    No data available
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body bg-teal">
                        <div class="font-bold m-b--35">RECENT COUNTRY ATTACK</div>
                        {% if recent_attacks %}
                        <ul class="dashboard-stat-list">
                            {% for attack in recent_attacks %}
                            <li>
                                {% if attack['geoip']['country'] %}
                                <i class="{{ attack['geoip']['country_code'].lower() }} flag"></i> 
                                {{ attack['geoip']['country'] }}
                                
                                {% else %}
                                <i class="flag"></i> 
                                {{ "Unknown" }}
                                {% endif %}
                                
                                <span class="pull-right">{{ attack['src_ip'] }} <small>({{ attack['counts'] }})</small></span>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <div class="row clearfix dashboard-stat-list">
                            <div class="col-md-12">
                                <br>
                                <div class="align-center">
                                   No data available
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        
            
    </div>
</section>
{% endblock %}

{% block custom_btmscripts %}
<script src="{{ url_for('static', filename='vendors/momentjs/moment.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-countto/jquery.countTo.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/raphael/raphael.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/morrisjs/morris.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/chartjs/Chart.bundle.js') }}"></script>


<script>


    $(function(){

        $('.count-to').countTo();
        
        var labels = []
        var data = []

        {% for attack in attack_daily_stats %}
            labels.push(moment( "{{ attack.date }}").format("DD MMM"));
            data.push({{ attack.counts }})
        {% endfor %}

        new Chart(document.getElementById("line_chart").getContext("2d"), getConfig(labels, data) );
    });

    function getConfig(labels, data){
        var config = {
            type: 'line',
                data: {
                    labels: labels,
                    datasets: [
                    {
                        label: "Attack Daily Stats",
                        data: data,
                        borderColor: 'rgba(233, 30, 99, 0.75)',
                        backgroundColor: 'rgba(233, 30, 99, 0.3)',
                        pointBorderColor: 'rgba(233, 30, 99, 0)',
                        pointBackgroundColor: 'rgba(233, 30, 99, 0.9)',
                        pointBorderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    legend: false,
                    scales: {
                        xAxes: [{
                            scaleLabel: {
                                display:true,
                                labelString: "Timestamp"
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display:true,
                                labelString: "Events (Count)"
                            }                        
                        }]
                    }
                },
        }
        return config
    }

</script>
{% endblock %}