{% extends 'layouts/base.html' %}

{% block custom_css %}
<link href="{{ url_for('static',filename='vendors/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        
        {% if db_info %}

        <!-- DIONAEA LOGS -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            DIONAEA LOGS
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table id="table-log" class="table table-bordered table-striped table-hover dataTable js-exportable" style="white-space:nowrap; display:table; width:100%;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Source IP</th>
                                        <th>Destination IP</th>
                                        <th>Destination Port</th>
                                        <th>Protocol</th>
                                        <th>Transport</th>
                                        <th>Country</th>
                                        <th>Timestamp</th>

                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Source IP</th>
                                        <th>Destination IP</th>
                                        <th>Destination Port</th>
                                        <th>Protocol</th>
                                        <th>Transport</th>
                                        <th>Country</th>
                                        <th>Timestamp</th>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="well">
                            <h2 align="center">
                                <span class="label label-danger"><big>DATABASE ERROR</big></span>
                            </h2>
                            <br>
                            <p align="center">
                                <big>No data available</big>          
                            </p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block custom_btmscripts %}
<script src="{{ url_for('static', filename='vendors/jquery-countto/jquery.countTo.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>

<script>
    function format(d){
        var firstTemplate = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
            '<tr>'+
                '<td>Sensor IP:</td>'+
                '<td>'+d.agent_ip+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Source Port:</td>'+
                '<td>'+ d.src_port + '</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Protocol:</td>'+
                '<td>'+ d.connection.protocol +'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Transport:</td>'+
                '<td>'+ d.connection.transport +'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Type:</td>'+
                '<td>'+ d.connection.type +'</td>'+
            '</tr>';

        
        if (d.hasOwnProperty('username')){
            firstTemplate = firstTemplate + 
                '<tr>'+
                    '<td>Username: </td>'+
                    '<td>'+ d.username +'</td>'+
                '</tr>'
        }

        if (d.hasOwnProperty('password')){
            firstTemplate = firstTemplate + 
                '<tr>'+
                    '<td>Password: </td>'+
                    '<td>'+ d.password || "N/A" +'</td>'+
                '</tr>'
        }

        if (d.hasOwnProperty('geoip')){
            var lat = "N/A", long="N/A";
            var city="N/A";
            var code = "N/A", country="N/A";
            var asn="N/A", aso="N/A";
            if (d.geoip !== null){
                console.log('NULL');
                lat = d.geoip.location.latitude || 'N/A';
                long = d.geoip.location.longitude || 'N/A';
                city = d.geoip.city || 'N/A';
                code = d.geoip.country_code || 'N/A';
                country = d.geoip.country || 'N/A';
                asn = d.geoip.autonomous_system_number || 'N/A';
                aso = d.geoip.autonomous_system_organization || 'N/A';
            }
            var countryShow = '<i class="'+ code.toLowerCase() +' flag"></i> '+ country;
            if (country == "N/A"){
                countryShow = country;
            }
            firstTemplate = firstTemplate +
                '<tr>'+
                    '<td>Country</td>'+
                    '<td>'+ countryShow +'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Latitude</td>'+
                    '<td>'+ lat +'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Longitude</td>'+
                    '<td>'+ long +'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>City</td>'+
                    '<td>'+ city +'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>ASN</td>'+
                    '<td>'+ asn +'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Autonomous System Organization</td>'+
                    '<td>'+ aso +'</td>'+
                '</tr>'
            }

        var templates = firstTemplate + '<tr>'+
                '<td>Timestamp</td>'+
                '<td>'+d.timestamp+'</td>'+
            '</tr>'+
        '</table>'


        return templates;
    }

    $(function () {
        $.fn.dataTable.ext.errMode = 'throw';

        //Exportable table
        var table = $('#table-log').DataTable({
            dom: 'Bfrtip',
            responsive: true,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            ajax: {
                url: 'data/ajax',
                dataSrc: 'data'
            },
            columns:[
                {
                    "className":      'details-control',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": "<i class='material-icons'>expand_more</i>"
                },
                { 'data': 'src_ip'},
                { 'data': 'dst_ip'},
                { 'data': 'dst_port'},
                { 'data': 'connection.protocol'},
                { 'data': 'connection.transport'},
                {
                    'data': 'geoip.country',
                    'render': function(data, type, full, meta){
                        if (full.geoip === null || full.geoip.country === null){
                            return '<i class=" flag"></i>unknown'
                        }
                        return '<i class="'+ full.geoip.country_code.toLowerCase() +' flag"></i>' + ' ' + data
                    }
                },
                {'data': 'timestamp'}
            ],
            order: [[7,'desc']]

        });

        $('#table-log tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var row = table.row( tr );
            var tdi = tr.find('i.material-icons');

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        });
    });
</script>
{% endblock %}