{% extends 'layouts/base.html' %}

{% block custom_css %}
<link href="{{ url_for('static',filename='vendors/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        
        {% if db_info %}

        <!-- DATA MASTER -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            DATA MASTER
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table id="table-log" class="table table-bordered table-striped table-hover dataTable js-exportable" style="white-space:nowrap; display:table; width:100%;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Source IP</th>
                                        <th>Destination IP</th>
                                        <th>Destination Port</th>
                                        <th>Sensor</th>
                                        <th>Country</th>
                                        <th>Timestamp</th>

                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Source IP</th>
                                        <th>Destination IP</th>
                                        <th>Destination Port</th>
                                        <th>Sensor</th>
                                        <th>Country</th>
                                        <th>Timestamp</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="well">
                            <h2 align="center">
                                <span class="label label-danger"><big>DATABASE ERROR</big></span>
                            </h2>
                            <br>
                            <p align="center">
                                <big>No data available</big>          
                            </p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block custom_btmscripts %}
<script src="{{ url_for('static', filename='vendors/jquery-countto/jquery.countTo.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>

<script>
    var methods_label = {
        'GET': 'label label-default',
        'POST': 'label label-success',
        'PUT': 'label label-info',
        'DELETE': 'label label-danger',
        'OPTIONS': 'label label-warning',
        'HEAD': 'label label-primary'
    }

    function cowrieFormatter(d){
        var template = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
            '<tr>'+
                '<td>Sensor IP:</td>'+
                '<td>'+d.agent_ip+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Event ID:</td>'+
                '<td>'+d.eventid+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Session:</td>'+
                '<td>'+ d.session +'</td>'+
            '</tr>';

        if (d.hasOwnProperty('src_ip')){
            template = template + 
                '<tr>'+
                    '<td>Source IP: </td>'+
                    '<td>'+ d.src_ip +'</td>'+
                '</tr>'
        }

        if (d.hasOwnProperty('username')){
            template = template + 
                '<tr>'+
                    '<td>Username: </td>'+
                    '<td>'+ d.username +'</td>'+
                '</tr>'
        }

        if (d.hasOwnProperty('password')){
            template = template + 
                '<tr>'+
                    '<td>Password: </td>'+
                    '<td>'+ d.password +'</td>'+
                '</tr>'
        }

        if (d.hasOwnProperty('input')){
            template = template + 
                '<tr>'+
                    '<td>Command: </td>'+
                    '<td>'+ d.input +'</td>'+
                '</tr>'
        }

        if (d.hasOwnProperty('input')){
            template = template + 
                '<tr>'+
                    '<td>Command: </td>'+
                    '<td>'+ d.input +'</td>'+
                '</tr>'
        }

        if (d.hasOwnProperty('shasum')){
            template = template + 
                '<tr>'+
                    '<td>SHA Sum: </td>'+
                    '<td>'+ d.shasum +'</td>'+
                '</tr>'
        }

        if (d.hasOwnProperty('url')){
            template = template + 
                '<tr>'+
                    '<td>SHA Sum: </td>'+
                    '<td>'+ d.shasum +'</td>'+
                '</tr>'
        }

        if (d.hasOwnProperty('duration')){
            template = template + 
                '<tr>'+
                    '<td>Duration: </td>'+
                    '<td>'+ d.duration +'</td>'+
                '</tr>'
        }

        if (d.hasOwnProperty('data')){
            template = template + 
                '<tr>'+
                    '<td>Data: </td>'+
                    '<td>'+ d.data +'</td>'+
                '</tr>'
        }

        template = template +
            '<tr>'+
                '<td>Message:</td>'+
                '<td>'+d.message+'</td>'+
            '</tr>';


        return template;

    }

    function dionaeaFormatter(d){
        var template = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
            '<tr>'+
                '<td>Sensor IP:</td>'+
                '<td>'+d.agent_ip+'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Source Port:</td>'+
                '<td>'+ d.src_port + '</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Protocol:</td>'+
                '<td>'+ d.connection.protocol +'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Transport:</td>'+
                '<td>'+ d.connection.transport +'</td>'+
            '</tr>'+
            '<tr>'+
                '<td>Type:</td>'+
                '<td>'+ d.connection.type +'</td>'+
            '</tr>';

        
        if (d.hasOwnProperty('username')){
            template = template + 
                '<tr>'+
                    '<td>Username: </td>'+
                    '<td>'+ d.username +'</td>'+
                '</tr>'
        }

        if (d.hasOwnProperty('password')){
            template = template + 
                '<tr>'+
                    '<td>Password: </td>'+
                    '<td>'+ d.password || "N/A" +'</td>'+
                '</tr>'
        }
        
        return template
    }
    
    function glastopFormatter(d){
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                '<tr>'+
                    '<td>Source IP</td>'+
                    '<td>'+d.src_ip+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Destination Port</td>'+
                    '<td>'+d.dst_port+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Methods</td>'+
                    '<td><span class="'+ methods_label[d.methods] +'">'+ d.methods +'</span></td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Path</td>'+
                    '<td>'+d.path+'</td>'+
                '</tr>';
    }

    function format ( d ) {
        // `d` is the original data object for the row
        var template;
        if (d.sensor == "dionaea"){
            template = dionaeaFormatter(d);
        }
        else if(d.sensor == "cowrie"){
            template = cowrieFormatter(d);
        }
        
        else if (d.sensor == "glastopf"){
            template = glastopFormatter(d);
        }

        var lat = "N/A", long="N/A";
        var city="N/A";
        var code = "N/A", country="N/A";
        var asn="N/A", aso="N/A";
        if (d.geoip !== null){
            console.log('NULL');
            lat = d.geoip.location.latitude || 'N/A';
            long = d.geoip.location.longitude || 'N/A';
            city = d.geoip.city || 'N/A';
            code = d.geoip.country_code || 'N/A';
            country = d.geoip.country || 'N/A';
            asn = d.geoip.autonomous_system_number || 'N/A';
            aso = d.geoip.autonomous_system_organization || 'N/A';
        }
        var countryShow = '<i class="'+ code.toLowerCase() +' flag"></i> '+ country;
        if (country == "N/A"){
            countryShow = country;
        }
        template = template +
                '<tr>'+
                    '<td>Country</td>'+
                    '<td>'+ countryShow +'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Latitude</td>'+
                    '<td>'+ lat +'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Longitude</td>'+
                    '<td>'+ long +'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>City</td>'+
                    '<td>'+ city +'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>ASN</td>'+
                    '<td>'+ asn +'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Autonomous System Organization</td>'+
                    '<td>'+ aso +'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Timestamp</td>'+
                    '<td>'+d.timestamp+'</td>'+
                '</tr>'+
            '</table>';
        return template
    }

    $(function () {
        $.fn.dataTable.ext.errMode = 'throw';

        //Exportable table
        var table = $('#table-log').DataTable({
            processing: true,
            serverSide: true,
            responsive: true,
            ajax: {
                url: 'data/ajax',
                dataSrc: 'data'
            },
            columns:[
                {
                    "className":      'details-control',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": "<i class='material-icons'>expand_more</i>"
                },
                { 'data': "src_ip"},
                { 
                    'data': "dst_ip",
                    'defaultContent': "N/A"
                },
                { 
                    'data': "dst_port",
                    'defaultContent': "N/A"
                },
                { 'data': "sensor"},
                {
                    'data': 'geoip.country',
                    'render': function(data, type, full, meta){
                        if (full.geoip === null || full.geoip.country === null){
                            return '<i class=" flag"></i>unknown'
                        }
                        return '<i class="'+ full.geoip.country_code.toLowerCase() +' flag"></i>' + ' ' + data
                    }
                },
                {'data': 'timestamp'}
            ],
            order: [[6,'desc']]
        });

        $('#table-log tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var row = table.row( tr );
    
            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        });
    });
</script>
{% endblock %}